#lawLayourContainer{
    
    width: 48%;
    height: 200px;
    margin: 0 1% 30px 1%;
}
#lawsCounters{
    display: flex;
    flex-direction:row;

    width: 100%;
    height: 90px;
    margin-top: 16px;
    padding-bottom: 10px;

    background-color: #F2654B;
    box-shadow: 10px 10px #c59257;
    
    border-left: 2px dashed #fbb969;
    border-top: 2px dashed #fbb969;
    border-bottom: 2px dashed #c59257;
    border-right: 2px dashed #c59257;
}

.blueLawShell{
    display: flex;
    flex-direction: row;

    width: 45%;
    height: 80px;
    margin: 10px 0.75% 10px 0.75%;

    background-color:#5ca6c5 ;/*#497a9c*/
    box-shadow: 3px 3px #b64c39;

    border: 2px dashed #b64c39;
    border-top: 2px dashed #F2654B;
    border-left: 2px dashed #F2654B;
}
#blueBorder{
    display: flex;
    flex-direction: row;

    width: 94%;
    height: 55px;
    margin: 5px auto 5px auto;


    border-radius: 5px;
    border: 5px solid #394f76;
    border-left: 2% solid #394f76;
    border-right: 2% solid #394f76;
}
#thinBlueBorder{
    width: 98%;
    height: 75px;
    margin: auto;

    border: 1px solid #394f76;
}
.blueLaw{
    width: 19.8%;
    height: 55px;
    margin: auto;

    border: 1px solid #394f76;
}
.blueIcon{
    width: 70%;
    height: 30px;
    color: #394f76;
    font-size: 25px;

    margin-top: 5px;
    margin-left: 5px;
}
.fontAweDove{
    margin: auto;
}

.redLawShell{
    display: flex;
    flex-direction: row;

    width: 52%;
    height: 80px;
    margin: 10px 0.75% 10px 0.75%;

    background-color: #fa6923;
    box-shadow: 3px 3px #b64c39;

    border: 2px dashed #b64c39;
    border-top: 2px dashed #F2654B;
    border-left: 2px dashed #F2654B;
}
#thinRedBorder{
    width: 98%;
    height: 75px;
    margin: auto;

    border: 1px solid #d53f1e;
}
#redBorder{
    display: flex;
    flex-direction: row;

    width: 94%;
    height: 55px;
    margin: 5px auto 5px auto;

    border-radius: 5px;
    border: 5px solid #d53f1e;
    border-left: 2% solid #d53f1e;
    border-right: 2% solid #d53f1e;
}
.redLaw{
    width: 17%;
    height: 55px;
    margin: auto;

    color:#d53f1e;

    border: 1px solid #d53f1e;
    padding: 7.5px auto 7.5px auto;

}
.redIcon{
    width: 70%;
    height: 30px;
    color: #d53f1e;
    font-size: 25px;
    margin-top: 5px;
    margin-left: 5px;

}
.fontAweSkull{
    margin: auto;
}


#stacksCounters{
    display: flex;
    /* flex-direction: row; */
    justify-content: space-evenly;

    width: 100%;
    height: 90px;

    background-color: #F2654B;
    box-shadow: 10px 10px #c59257;

    border-left: 2px dashed #fbb969;
    border-top: 2px dashed #c59257;
    border-bottom: 2px dashed #c59257;
    border-right: 2px dashed #c59257;
}
.stackLayoutShell{
    width: 100px;
    height: 80px;
    margin: 5px 0% 5px 0%;
    
    background-color: #f6d399;
    box-shadow: 3px 3px #b64c39;

    border-radius: 5px;
}
#stackBorder{
    width: 60px;
    height: 40px;
    margin: 5px;

    text-align: center;
    color:#161d1e;

    border: 15px solid #6b5041;
    border-radius: 5px;
}
.stackName{
    position: relative;
    top: -15px;
    left: -0px;

    height: 14px;
    width: 60px;
    margin-top:0;
    margin-bottom: 0;

    font-size: 14px;

    color: #f6d399;
    background-color: #6b5041;
}

.textStack{
    position: relative;
    top: -5px;
    width: 20px;
    text-align: center;
    height: 20px;
    margin: auto;
    font-size: 20px;
}


#skippedTurnsShell{
    width: 200px;
    height: 80px;
    margin: 5px 0% 5px 0%;
    
    background-color: #f6d399;
    box-shadow: 3px 3px #b64c39;

    border-radius: 5px;
}
#borderSkipped{
    width: 160px;
    height: 40px;
    margin: 5px;

    text-align: center;
    color:#161d1e;

    border: 15px solid #6b5041;
    border-radius: 5px;
}
#borderSkipped>p{
    position: relative;
    top: -15px;
    left: -0px;

    height: 14px;
    width: 160px;
    margin: 0;

    font-size: 14px;

    color: #f6d399;
    background-color: #6b5041;
}
.skippedTurns{
    display: flex;
    justify-content: space-evenly;

    position: relative;
    top: -15px;

    height: 30px;
    width: 160px;
    margin: 5px 0 5px 0;
}
.skippedDot{
    height: 30px;
    width: 30px;

    border-radius: 15px;
    border: 1px dashed #f6d399;
    background-color: #F2654B;
}


@media (min-width: 2000px) {
    #lawLayourContainer{
        width: 980px;
        height: 400px;
        margin: 0 1% 10px 1%;
    }
    #lawsCounters{
        width: 100%;
        height: 186px;
        padding-bottom: 10px;
    }


    .blueLawShell{
        width: 426px;
        height: 166px;
        margin: 10px;
        margin-right: 5px;
        margin-left: 5px;

    }
    #thinBlueBorder{
        width: 410px;
        height: 150px;
        margin: 5px;
    
        border: 3px solid #394f76;
    }
    #blueBorder{
        width: 390px;
        height: 130px;
        margin: 5px;
        border: 5px solid #394f76;
    }
    .blueLaw{
        width: 81px;
        height: 130px;
        margin: 0px;
        border: 2px solid #394f76;
    }
    .blueIcon{
        width: 40px;
        height: 40px;
        color: #394f76;
        font-size: 40px;
    
        margin-top: 45px;
        margin-left: 35px;
    }


    .redLawShell{
        width: 526px;
        height: 166px;
        margin: 10px;
        margin-right: 5px;
        margin-left: 5px;
    }
    #thinRedBorder{
        width: 510px;
        height: 150px;
        margin: 5px;
    
        border: 3px solid #d53f1e;
    }
    #redBorder{

        width: 490px;
        height: 130px;
        margin: 5px;
        border: 5px solid #d53f1e;
    }
    .redLaw{
        width: 81px;
        height: 130px;
        margin: auto;
    
        color:#d53f1e;
    
        border: 1px solid #d53f1e;
    
    }
    .redIcon{
        width: 40px;
        height: 40px;
        font-size: 40px;
        margin-top: 45px;
        margin-left: 35px;
    
    }
    .fontAweSkull{
        margin: auto;
    }


    #stacksCounters{
        width: 100%;
        height: 186px;
        padding-bottom: 10px;
    }
    .stackLayoutShell{
        width: 200px;
        height: 180px;
        margin: 5px 0% 5px 0%;
        
        background-color: #f6d399;
        box-shadow: 3px 3px #b64c39;
    
        border-radius: 5px;
    }
    #stackBorder{
        width: 140px;
        height: 120px;
        margin: 5px;   
        text-align: center;   
        border: 25px solid #6b5041;
    }
    .stackName{
        position: relative;
        top: -25px;
        left: 0px; 
        height: 24px;
        width: 140px;
        margin-top:0;
        margin-bottom: 0;
        font-size: 22px;
    }
    .textStack{
        position: relative;
        top: 0px;
        width: 30px;
        text-align: center;
        height: 40px;
        margin: auto;
        font-size: 40px;
    }

    #skippedTurnsShell{
        width: 400px;
        height: 180px;
        margin: 5px 0% 5px 0%;    
        border-radius: 5px;
    }
    #borderSkipped{
        width: 340px;
        height: 120px;
        margin: 5px;
        border: 25px solid #6b5041;
        border-radius: 5px;
    }
    #borderSkipped>p{
        position: relative;
        top: -25px;
        left: -0px;
    
        height: 24px;
        width: 340px;
        margin: 0;
    
        font-size: 22px;
    
        color: #f6d399;
        background-color: #6b5041;
    }
    .skippedTurns{  
        display: flex;
        justify-content: space-evenly;
    
        position: relative;
        top: -0px;
    
        height: 40px;
        width: 260px;
        margin: auto;
    }
    .skippedDot{
        height: 40px;
        width: 40px;
    
        border-radius: 20px;
        border: 2px dashed #f6d399;
        background-color: #F2654B;
    }
}