#newsBoxContainer{
    width: 34%;
    height: 180px;
    margin: 0px 3% 0px 3%;

    border-radius: 5px;

    background-color: #6b5041;
    box-shadow: 10px 10px #c59257;
}
#newsBoxBorder{
    width: 94%;
    height: 160px;
    margin: 5px 3% 5px 3%;

    border-radius: 5px;

    background-color: #f6d399;
}

#newsBoxFlavorShell{
    width: 100%;
    height: 80px;

    border-bottom: 3px solid #6b5041;
}
#newsBoxFlavor{
    height: 40px;
    width: 90%;
    margin: 0px 5% 0px 5%;

    color:#6b5041;
    font-size: 15px;
    text-align: center;
}


#newsBoxAclarationShell{
    width: 100%;
    height: 67px;
}
#newsBoxAclaration{
    height: 37px;
    width: 90%;
    margin: 10px 5% 10px 5%;

    color:#6b5041;
    font-size: 12px;
    text-align: center;
}

#allVotesShell{
    display: flex;
    flex-wrap: wrap;

    list-style: none;
    margin: 0;
    padding: 0;

    height: 40px;
    width: 100%;
}

#allVotesShell>li{
    width: 20%;
    margin: 0;
    padding: 0;
    font-size:10px;
}