.CardShell{
    width: 120px;
    height: 95px;
    margin: 5px 0px 5px 0px;
    box-shadow: 5px 5px #8e4336;
    transition: 2s;
}
.CardShell:hover{
    cursor: pointer;
}
.CardShell:hover>.buttonDiscard>.cardIcon{
    color: #f8c283;
    transition: 0.2s;
}

.blueCard{
    
    background-color: #5ca6c5;
}
.blueBut{
    border: 5px solid #394f76; 
}

.redCard{
    background-color: #fa6923;
}
.redBut{
    border: 5px solid #d53f1e;
}   

.buttonDiscard{
    width: 90px;
    height: 65px;
    margin: 15px;
    padding: 0;

    background-color: transparent;

    border-radius: 5px;
}
.buttonDiscard:hover{
    cursor: pointer;
}
.buttonDiscard:hover>.cardIcon{
    color: #f8c283;
    transition: 0.2s;
}
.cardIcon{
    width: 45px;
    height:45px;
    margin: 0px 17.5px 5px 17.5px;

    text-align: center;
    font-size: 45px;

    transition: 2s;
}



@media (min-width: 2000px){
    .CardShell{
        width: 200px;
        height: 120px;
        margin: 10px;
        box-shadow: 5px 5px #8e4336;
        transition: 2s;
    }
    .buttonDiscard{
        width: 170px;
        height: 90px;
        margin: 15px;
        padding: 0;    
        border-radius: 5px;
    }
    .cardIcon{
        width: 50px;
        height: 50px;
        margin: 10px 60px 10px 55px;
    
        text-align: center;
        font-size: 45px;
    
        transition: 2s;
    }
    
}