body{
    background-color: #fbb969;
    padding: 0;
    margin: 0;
}

#appContainer
{
    display: flex;
    flex-wrap: wrap;
    background-color: #fbb969;
}

#gameShowNHeader{
    width: 100%;
    margin-top: 10px;

    display: flex;
    flex-wrap: wrap;
    background-color: #fbb969;
}

@media (min-width: 2000px) {
    #gameShowNHeader{
        width: 2000px;
        margin-left: auto;
        margin-right: auto;
    }
}