#killSelectContainer{
    margin-left: 10px;
}

#killSlFlavor{
    height: 15px;
    width: 240px;
    margin: 0px 20px 0px 20px;

    text-align: center;
    font-size: 15px;
    font-weight: bolder;
    font-style: italic;

    color: #fde1c0;
    box-shadow: 0px -7px #b25544 inset;
}

#killContainer{
    display: flex;
    flex-wrap: wrap;
    height: 230px;
    width: 260px;
    padding: 5px;
}

.genericSelectKill{
    display: flex;
    flex-direction: row;

    width: 130px;
    height: 40px;

    margin: 5px 0px 5px 0px;
}
.genericSelectKill:hover>.showKill{
    width: 20px;
}
.genericSelectKill:hover>.showKill>.skullIcon{
    display: block;
}

.borderKillShow{
    height: 40px;
    width: 95px;
    /* margin-right: 20px; */
    background: linear-gradient(90deg, rgba(107,80,65,1) 50%, rgba(138,3,3,1) 100%);
    box-shadow: 5px 5px #8e4336;
    border-bottom-left-radius: 10px;
    border-top-left-radius: 10px;
}

.killBut{
    width: 90px;
    height: 30px;
    margin: 5px;

    text-align: center;
    font-size: 15px;


    border-bottom-left-radius: 10px;
    border-top-left-radius: 10px;
    border: none;

    color: #6b5041;
    background: linear-gradient(90deg, rgba(246,211,153,1) 50%, rgba(138,3,3,1) 100%);
}

.killBut>p{
    margin-top: 0;
    margin-bottom: 0;
}

.showKill{
    width: 0px;
    height: 40px;

    background-color: #8a0303;
    box-shadow: 5px 5px #8e4336;
    color: #f8c283;

    transition: 0.2s;
}
.skullIcon{
    position: relative;
    display: none;
    left: -5px;
    width: 20px;
    font-size: 20px;
    margin-top: 10px;
    margin-bottom: 10px;
    transition: 0.1s;
}