#playerExamContainer{
    margin-left: 10px;
}
#examSlFlavor{
    height: 15px;
    width: 220px;
    margin: 0px 20px 0px 15px;

    text-align: center;
    font-size: 15px;
    font-weight: bolder;
    font-style: italic;

    color: #fde1c0;
    box-shadow: 0px -7px #b25544 inset;
}
#examContainer{
    display: flex;
    flex-wrap: wrap;
    height: 230px;
    width: 260px;
    padding: 5px;
}

.genericSelectExam{
    display: flex;
    flex-direction: row;

    width: 130px;
    height: 40px;

    margin: 5px 0px 5px 0px;
}
.genericSelectExam:hover>.showExam{
    width: 20px;
}
.genericSelectExam:hover>.showExam>.eyeIcon{
    display: block;
}
.borderShowExam{
    height: 40px;
    width: 95px;

    background: linear-gradient(90deg, rgba(107,80,65,1) 42%, rgba(0,212,255,1) 100%);
    box-shadow: 5px 5px #8e4336;
    border-bottom-left-radius: 10px;
    border-top-left-radius: 10px;
}
.examBut{
    width: 90px;
    height: 30px;
    margin: 5px;

    text-align: center;
    font-size: 15px;


    border-bottom-left-radius: 10px;
    border-top-left-radius: 10px;
    border: none;

    color: #6b5041;
    background: linear-gradient(90deg, rgba(248,195,131,1) 42%, rgba(0,212,255,1) 100%);
}
.examBut>p{
    margin-top: 0;
    margin-bottom: 0;
}
.showExam{
    width: 0px;
    height: 40px;

    background-color: rgba(0,212,255,1);
    box-shadow: 5px 5px #8e4336;
    color: #a98490;

    transition: 0.2s;
}
.eyeIcon{
    position: relative;
    left: -5px;
    display: none;
    width: 20px;
    font-size: 20px;
    margin-top: 10px;
    margin-bottom: 10px;
    transition: 0.1s;
}