#pmSelectContainer{
    margin-left: 10px;
}
#pmSlFlavor{
    position: relative;
    left: -10px;

    height: 15px;
    width: 270px;
    margin: 0px 0px 0px 0px;

    /* text-align: center; */
    font-size: 15px;
    font-weight: bolder;
    font-style: italic;

    color: #fde1c0;
    box-shadow: 0px -7px #b25544 inset;
}
#pmContainer{
    display: flex;
    flex-wrap: wrap;
    height: 230px;
    width: 260px;
    padding: 5px;
}

.genericSelectPm{
    display: flex;
    flex-direction: row;

    width: 130px;
    height: 40px;

    margin: 5px 0px 5px 0px;
}
.genericSelectPm:hover>.showPm{
    width: 20px;
}
.genericSelectPm:hover>.showPm>.handsIcon{
    display: block;
}
.borderShowPm{
    height: 40px;
    width: 95px;
    
    background: linear-gradient(90deg, rgba(107,80,65,1) 60%, rgba(0,0,0,1) 100%);
    box-shadow: 5px 5px #8e4336;
    border-bottom-left-radius: 10px;
    border-top-left-radius: 10px;
}
.pmBut{
    width: 90px;
    height: 30px;
    margin: 5px;

    text-align: center;
    font-size: 15px;


    border-bottom-left-radius: 10px;
    border-top-left-radius: 10px;
    border: none;

    color: #6b5041;
    background: linear-gradient(90deg, rgba(246,211,153,1) 60%, rgba(0,0,0,1) 100%);
}
.pmBut>p{
    margin-top: 0;
    margin-bottom: 0;
}
.showPm{
    width: 0px;
    height: 40px;

    background-color: #000000;
    box-shadow: 5px 5px #8e4336;
    color: #ffca79;

    transition: 0.2s;
}
.handsIcon{
    position: relative;
    left: -5px;
    display: none;
    width: 20px;
    font-size: 20px;
    margin-top: 10px;
    margin-bottom: 10px;
    transition: 0.1s;
}


@media (min-width: 2000px){
    #pmSelectContainer{
        margin-left: 10px;
    }
    #pmSlFlavor{
        height: 30px;
        width: 400px;
        margin: 0px 5px 0px 10px;
        font-size: 22px;
        font-weight: bold;
        box-shadow: 0px -10px #b25544 inset;
    }
    #pmContainer{
        height: 350px;
        width: 390px;
        padding: 5px;
        margin: 0px 5px 0px 0px;
    }
    
    .genericSelectPm{
        display: flex;
        flex-direction: row;
    
        width: 190px;
        height: 55px;
    
        margin: 5px 0px 5px 0px;
    }
    .genericSelectPm:hover>.showPm{
        width: 30px;
    }
    .borderShowPm{
        height: 55px;
        width: 155px;
    }
    .pmBut{
        width: 130px;
        height: 45px;
        margin: 5px;
        font-size: 25px;
    }
    .pmBut>p{
        margin-top: 0;
        margin-bottom: 0;
    }
    .showPm{
        width: 0px;
        height: 55px;
    }
    .handsIcon{
        position: relative;
        left: -15px;
        display: none;
        width: 30px;
        font-size: 30px;
        margin-top: 10px;
        margin-bottom: 10px;
        transition: 0.1s;
    }
}