#PowerSelectContainer{
    width: 290px;
    height: 310px;
    margin: 10px;

    background-color: #F2654B;
    box-shadow: 5px 5px #8e4336;

    border: 2px dashed  #b25544;
    border-right: 2px dashed  #8e4336;
    border-bottom: 2px dashed  #8e4336;
}
