.chCandidate{
    display: flex;
    flex-direction: row;

    width: 130px;
    height: 40px;
}
.chCandidate:hover>.showOff{
    width: 20px;
    transition: 0.2s;
}
.chSelection{
    width: 100px;
    height: 40px;

    text-align: center;
    font-size: 15px;

    border: 5px solid #6b5041;
    border-bottom-left-radius: 10px;
    border-top-left-radius: 10px;

    color: #6b5041;
    background-color: transparent;
    background-color: #f6d399;
    box-shadow: 5px 5px #8e4336;
}
.showOff{
    width: 0px;
    height: 40px;

    background-color: #6b5041;
    box-shadow: 5px 5px #8e4336;

    transition: 0.2s;
}



@media (min-width: 2000px){
    .chCandidate{
        width: 190px;
        height: 45px;
    }
    .chCandidate:hover>.showOff{
        width: 30px;
        transition: 0.2s;
    }
    .chSelection{
        width: 155px;
        height: 45px;
        font-size: 25px;
    }
    .showOff{
        width: 0px;
        height: 45px;
    
        background-color: #6b5041;
        box-shadow: 5px 5px #8e4336;
    
        transition: 0.2s;
    }
    
}