#SelectChContainer{
    display:flex;
    flex-wrap: wrap;
    
    width: 280px;
    height: 300px;
    margin: 0px 10px 15px 10px;
}
#chFlavor{
    height: 15px;
    width: 240px;
    margin: 0px 20px 0px 20px;

    text-align: center;
    font-size: 15px;
    font-weight: bolder;
    font-style: italic;

    color: #fde1c0;
    box-shadow: 0px -7px #b25544 inset;
}

#sendContainer{
    display: flex;
    justify-content: space-evenly;

    height: 40px;
    width: 270px;

    background-color: #F2654B;
    box-shadow: 5px 5px #8e4336;

    border: 2px dashed  #b25544;
    border-right: 2px dashed  #8e4336;
    border-bottom: 2px dashed  #8e4336;

}
#selectedView{
    height: 20px;
    width: 200px;
    margin: 10px;

    font-size: 20px;
    font-weight: bolder;
    font-style: italic;

    color: #fde1c0;
    box-shadow: 0px -10px #b25544 inset;
}
#selectedSend{

    height: 20px;
    margin: 10px 0px 10px 0px ;

    font-size: 17px;

    background-color: transparent;
    color: #434243;
    box-shadow: 0px -10px #fde1c0 inset;

    border: none;
}
#selectedSend:hover{
    cursor: pointer;
}

#candidatesShell{
    height: 230px;
    width: 260px;
    padding: 5px;

    background-color: #F2654B;
    box-shadow: 5px 5px #8e4336;

    border: 2px dashed  #b25544;
    border-right: 2px dashed  #8e4336;
    border-bottom: 2px dashed  #8e4336;
}