.player{
    width: 18%;
    height: 96px;
    margin: 0;


    box-shadow: 10px 10px #c59257;
    border: 2px dashed  #b8a38d;
}

.playerP{
    width: 80px;
    height: 20px;
    margin: 0 auto 5px auto;
    margin-top: 0;
    margin-bottom: 0;

    text-align: center;
    font-size: 15px;

    color: #fde1c0;
    box-shadow: 0px -7px #b25544 inset;
}

.estado{

    height: 30px;
    margin: 0px auto 0px auto;

    font-size: 30px;
    text-align: center;
}

.estadoMuerto{
    height: 30px;
    margin: 0px auto 0px auto;

    font-size: 30px;
    text-align: center;
    
    color:#8a0303;
}


.presidentColor{
    background: linear-gradient(45deg, rgba(242,101,75,1) 40%, rgba(102,2,60,1));/*naranja purpura*/
    /*background: linear-gradient(45deg, rgba(117,117,117,1) 37%, rgba(102,2,60,1) 80%); gris purpura*/
}
.chancellorColor{
    background: linear-gradient(45deg, rgba(242,101,75,1) 40%, rgba(131,137,150,1) 80%); /*naranja plata*/
    /* background: linear-gradient(45deg, rgba(117,117,117,1) 40%, rgba(131,137,150,1) 80%); gris plata*/
}

.noRolColor{
    background-color: #F2654B;
}

.hitlerColor{
    color:#eabe3f;
}
.fascColor{
    color:#d53f1e;
}
.libColor{
    color:#394f76;
}

.unkColor{
    color:#fde1c0;
}